<div class="about-me-container">
  <div class="abm-left-container">
    <h1>About me</h1>
    <span>
      Hello, I am a Frontend developer living in Seedorf in the canton of Bern,
      Switzerland. With my knowledge of HTML JavaScript with the framework
      Angular, I have many skills to create web applications, which can be seen
      with my knowledge in CSS.
    </span>
    <div class="subtext-container">
      <img src="/assets/img/bulb-desktop.png" alt="bulb" />
      <span>
        I became enthusiastic about technology early on in my childhood and
        started my career in automotive engineering. My fascination with IT grew
        more and more over the years. From assembling my own PC to software
        development.
      </span>
    </div>
    <div class="subtext-container">
      <img src="/assets/img/puzzle-desktop.png" alt="puzzle" />
      <span>
        I am characterized by my complex way of thinking and the corresponding
        analytical skills. With my acquired knowledge, in conjunction with my
        communication skills, I am also able to meet major challenges.
      </span>
    </div>
  </div>
  <div class="abm-right-container">
    <img src="/assets/img/silvan2.png" alt="silvan2.png" />
    <div class="abm-line-right"></div>
  </div>

</div>
<img
class="abm-blue-background-image"
src="/assets/img/abm-blue-background.png"
alt="abm-blue-background.png"
/>
<img
class="abm-blue-background-big-image"
src="/assets/img/abm-blue-background-big.png"
alt="abm-blue-background.png"
/>

