<div class="atf-container">
  <div class="atf-container-mobile">
    <img
      class="background-image"
      src="/assets/img/atf-background.png"
      alt="Profile image 1"
    />
    <img
      class="atf-profile-image"
      src="/assets/img/silvan1.png"
      alt="Profile image 1"
    />
  </div>
  <div class="atf-i-am-countainer">
    <img
      class="atf-description-image"
      src="/assets/img/atf-description.png"
      alt="atf-description"
    />
    <a href="#contact" class="atf-button">Let’s talk!</a>
  </div>
  <div class="atf-bottom-container">
    <img class="atf-bottom-image" src="/assets/img/vector.png" alt="vector" />
    <div>
      <div class="atf-icon-container">
        <div class="atf-icon-distance-line"></div>
        <div class="atf-icon-scroll-section">
          <div class="atf-icon-section">
            <a href="https://github.com/SilvanStuber" target="_blank"
              ><img
                class="atf-icon"
                src="/assets/img/github.png"
                alt="GitHub Icon"
            /></a>
            <a href="#contact"
              ><img
                class="atf-icon"
                src="/assets/img/e-mail.png"
                alt="E-Mail Icon"
            /></a>
            <a
              href="https://www.linkedin.com/in/silvan-stuber-97262a127?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              target="_blank"
              ><img
                class="atf-icon"
                src="/assets/img/linkedIn.png"
                alt="LinkedIn Icon"
            /></a>
            <a href="#contact" class="atf-link">{{ appdata.email }}</a>
          </div>
          <div class="scroll-down-container">
            <p>Scroll down</p>
            <img
              class="scroll-down-image"
              src="/assets/img/arrowdown.png"
              alt="arrow down"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
