.atf-container {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
}

.background-image {
  position: absolute;
  top: 160px;
}

.atf-profile-image {
  position: absolute;
  top: 140px;
  padding-left: 180px;
  height: 705px;
  z-index: 2;
}

.atf-i-am-countainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 180px !important;
  margin-top: 200px;
  margin-right: 100px;
  z-index: 4;
}

.atf-description-image {
  height: 172px;
}

.atf-button {
  font-size: 24px;
  background-color: var(--lightBlue);
  text-decoration: none;
  color: var(--white);
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 24px;
  margin-right: 24px;
  cursor: pointer;
  z-index: 4;
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1),
    background-color 0.5s ease, color 0.5s ease;
  &:hover {
    background-color: var(--darkBlue);
    scale: 1.05;
  }
}

.atf-bottom-container {
  position: absolute;
  top: 600px;
  left: 0;
  width: 100vw !important;
  z-index: 3;
}

.atf-bottom-image {
  width: 100%;
  z-index: 1;
}

.atf-icon-container {
  position: absolute;
  top: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.atf-icon-distance-line {
  position: absolute;
  left: 0;
  height: 4px;
  min-width: 100px;
  width: calc((100vw - 1720px) / 2);
  background-color: var(--darkBlue);
}

.atf-icon-scroll-section {
  display: flex;
  justify-content: space-between;
  max-width: 1720px !important;
  width: 100%;
  margin-left: 130px;
}

.atf-icon-section {
  display: flex;
  align-items: center;
  gap: 24px;
}

.atf-icon {
  margin-top: 4px;
  height: 30px;
  cursor: pointer;
  &:hover {
    scale: 1.25;
  }
}

.atf-link {
  text-decoration: none;
  color: var(--white);
  font-size: 23px;
}

.scroll-down-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  transform: rotate(+90deg);
  white-space: nowrap;
  font-size: 23px;
  gap: 8px;
  margin-top: -140px;
  z-index: 8;
}

.scroll-down-image {
  height: 16px;
  width: 16px;
  transform: rotate(-90deg);
  white-space: nowrap;
}

@media (min-height: 1200px) {
  .atf-bottom-container {
    top: 710px;
  }

  .background-image {
    height: 900px;
    top: 180px;
  }

  .atf-profile-image {
    height: 900px;
    top: 180px;
  }

  .atf-i-am-countainer {
    margin-top: 300px;
  }

  .atf-icon-container {
    top: 450px;
  }

  .atf-bottom-container {
    top: 750px;
  }
}

@media (min-height: 1000px) and (max-width: 1000px) {
  .atf-icon-container {
    top: 550px !important;
  }
}

@media (min-height: 1200px) and (max-width: 1700px) {
  .background-image {
    height: 650px !important;
  }

  .atf-profile-image {
    height: 650px !important;
  }

  .atf-bottom-container {
    top: 590px;
  }

  .atf-icon-container {
    top: 620px;
  }
}

@media (min-height: 1200px) and (max-width: 1400px) {
  .atf-bottom-container {
    top: 640px;
  }

  .atf-icon-container {
    top: 570px !important;
  }
}

@media (min-height: 1200px) and (max-width: 800px) {
  .atf-bottom-container {
    top: 850px !important;
  }

  .atf-i-am-countainer {
    margin-top: 55% !important;
  }
}

@media (min-height: 1200px) and (max-width: 1200px) {
  .atf-bottom-container {
    top: 650px !important;
  }

  .atf-i-am-countainer {
    margin-top: 55% !important;
  }
}

@media (min-height: 1200px) and (max-width: 500px) {
  .atf-i-am-countainer {
    margin-top: 65% !important;
  }

  .atf-bottom-container {
    top: 500px !important;
  }

  .atf-icon-container {
    top: 700px !important;
  }

  .background-image {
    top: 180px !important;
    height: 400px !important;
  }

  .atf-profile-image {
    top: 180px !important;
    height: 400px !important;
  }
}

@media (max-width: 1900px) {
  .scroll-down-container {
    padding-right: 72px;
  }
}

@media (max-width: 1600px) {
  .atf-description-image {
    height: 89px;
  }
}

@media (max-width: 1200px) {
  .atf-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .atf-container-mobile {
    width: 100vw !important;
    display: flex;
    justify-content: center;
  }

  .atf-profile-image {
    height: 400px;
    padding-left: 0;
  }

  .background-image {
    height: 400px;
    display: flex;
  }

  .atf-profile-image {
    height: 400px;
    padding-left: 0;
  }

  .atf-i-am-countainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 35%;
    margin-right: 0;
  }

  .atf-bottom-container {
    top: 400px;
  }

  .scroll-down-container {
    display: none;
  }

  .atf-link {
    display: none;
  }

  .atf-icon-container {
    top: 460px;
  }
}

@media (max-width: 800px) {
  .atf-button {
    margin-left: 30px;
  }

  .atf-i-am-countainer {
    margin-top: 55%;
  }

  .background-image {
    height: 450px;
    top: 160px;
  }

  .atf-profile-image {
    height: 450px;
    top: 160px;
  }

  .atf-bottom-container {
    top: 500px;
  }

  .atf-icon-container {
    top: 360px;
  }
}

@media (max-width: 600px) {
  .atf-description-image {
    height: 80px;
  }

  .atf-i-am-countainer {
    margin-top: 70%;
  }
}

@media (max-width: 450px) {
  .background-image {
    height: 400px;
    top: 180px;
  }

  .atf-profile-image {
    height: 400px;
    top: 180px;
  }

  .atf-description-image {
    height: 60px;
  }

  .atf-i-am-countainer {
    margin-top: 100% !important;
  }

  .atf-bottom-container {
    top: 520px;
  }

  .atf-icon-container {
    top: 340px;
  }

  .atf-button {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-height: 900px) and (max-width: 750px) {
  .atf-i-am-countainer {
    margin-top: 80% !important;
  }

  .atf-bottom-container {
    top: 500px !important;
  }

  .atf-icon-container {
    top: 360px !important;
  }
}

@media (max-height: 900px) and (max-width: 450px) {
  .atf-i-am-countainer {
    margin-top: 70% !important;
  }
}

@media (max-height: 900px) and (max-width: 400px) {
  .atf-i-am-countainer {
    margin-top: 75% !important;
  }

  .background-image {
    height: 300px;
    top: 160px;
  }

  .atf-profile-image {
    height: 300px;
    top: 160px;
  }

  .atf-bottom-container {
    top: 380px !important;
  }

  .atf-icon-container {
    top: 240px !important;
  }
}

@media (max-height: 900px) and (max-width: 390px) {
  .atf-i-am-countainer {
    margin-top: 60% !important;
  }

  .atf-icon-container {
    top: 380px !important;
  }
}

@media (max-height: 800px) and (max-width: 375px) {
  .atf-icon-container {
    top: 280px !important;
  }
}

@media (max-height: 700px) and (max-width: 375px) {
  .atf-i-am-countainer {
    margin-top: 65% !important;
  }

  .atf-icon-container {
    top: 240px !important;
  }
}
