header {
  height: 110px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  background-color: var(--backgroundColor);
  top: 0;
  z-index: 799;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  > img {
    width: 150px;
    padding-left: 100px;
    cursor: pointer;
  }
}

.logo-header {
  height: 48px;
}

.menu-container-header {
  display: flex;
  padding-right: 100px;
  gap: 29px;
  > a {
    color: var(--white);
    text-decoration: none;
    size: 29px;
    width: 400;
    &:hover {
      color: var(--lightBlue);
    }
  }
}

.border-bottom-line {
  color: var(--lightBlue) !important;
  position: relative;
  display: inline-block;
  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 40px;
    height: 3px;
    background-color: var(--darkBlue);
  }
}

.mobile-menu-container {
  position: sticky;
  margin-top: -110px;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 899;
}

.logo-header-mobile {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 31px;
  margin-left: 46px;
  height: 48px;
  z-index: 999;
}

.mobile-menu-content {
  position: relative;
  transform: translateX(10000px);
  display: none;
  background-color: var(--backgroundColorMobileMenu);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 29px;
  height: 100%;
  > a {
    color: var(--white);
    text-decoration: none;
    size: 23px;
    width: 400;
    &:hover {
      color: var(--lightBlue);
    }
  }
}

.burgen-menu-icon {
  height: 35px;
  margin-right: 50px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .header-container {
    > img {
      padding-left: 50px;
    }
  }

  .menu-container-header {
    padding-right: 50px;
  }
}

@media (max-width: 600px) {
  .menu-container-header {
    display: none;
  }
}

@media (min-width: 600px) {
  .burgen-menu-icon {
    display: none;
  }
}

@media (max-width: 400px) {
  .header-container {
    > img {
      padding-left: 50px;
    }
  }
}
