header {
  height: 110px;
  width: calc(100vw - 18px);
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: var(--backgroundColor);
  top: 0;
  z-index: 999;
  > img {
    width: 150px;
    padding-left: 100px;
    cursor: pointer;
  }
}

.menu-container-header {
  display: flex;
  padding-right: 100px;
  gap: 29px;
  > a {
    color: var(--white);
    text-decoration: none;
    size: 29px;
    width: 400;
    &:hover {
      color: var(--lightBlue);
    }
  }
}

.border-bottom-line {
  color: var(--lightBlue) !important;
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 40px; /* Anpassen, um die Länge der Linie zu kontrollieren */
    height: 3px;
    background-color: var(--darkBlue) ;
  }
}
