
<header>
  <div class="header-container">
    <img class="logo-header" [class.logo-header-none]="appdata.imageHeaderNotVisible" src="/assets/img/logo.png" alt="logo" />
    <div class="menu-container-header">
      <a
        *ngFor="let menuContent of appdata.menuContents.slice(0, 3)"
        (click)="appdata.changeStyleBottomLine(menuContent.title)"
        [class.border-bottom-line]="appdata.classActive(menuContent.title)"
        [href]="menuContent.linkComponent"
      >
        {{ menuContent.title }}
      </a>
    </div>
  </div>
  <img
    (click)="openMenu()"
    [class.logo-header-none]="appdata.imageHeaderNotVisible"
    class="burgen-menu-icon"
    src="/assets/img/burger-menu.png"
    alt="burger-menu"
  />
  
</header>


