header {
  height: 110px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  background-color: var(--backgroundColor);
  top: 0;
  z-index: 799;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  > img {
    width: 150px;
    padding-left: 100px;
    cursor: pointer;
  }
}

.logo-header {
  height: 48px;
}

.menu-container-header {
  display: flex;
  padding-right: 100px;
  gap: 29px;
  > a {
    color: var(--white);
    text-decoration: none;
    size: 29px;
    width: 400;
    &:hover {
      color: var(--lightBlue);
    }
  }
}

.burgen-menu-icon {
  height: 35px;
  margin-right: 50px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .header-container {
    > img {
      padding-left: 50px;
    }
  }

  .menu-container-header {
    padding-right: 50px;
  }
}

@media (max-width: 600px) {
  .menu-container-header {
    display: none;
  }
}

@media (min-width: 600px) {
  .burgen-menu-icon {
    display: none;
  }
}

@media (max-width: 400px) {
  .header-container {
    > img {
      padding-left: 50px;
    }
  }
}
