<div class="contact-container">
  <div class="contact-content-container">
    <div class="contact-left-container">
      <div class="contact-headline-container">
        <div class="contact-line-left"></div>
        <h2>Contact</h2>
      </div>
      <h3>Got a problem to solve?</h3>
      <p>
        Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.
      </p>
      <p>Need a Frontend developer? Contact me!</p>
    </div>
    <div class="contact-right-container">
      <form action="">
        <input
          class="contact-input-name-email"
          type="text"
          placeholder="Your name"
        />
        <input
          class="contact-input-name-email"
          type="email"
          placeholder="Your email"
        />
        <textarea
          class="contact-input-message"
          type="text"
          placeholder="Your message"
        ></textarea>
        <div class="checkbox-container">
          <input type="checkbox" id="contact-checkbox" />
          <label for="contact-checkbox"></label>
          <span class="checkbox-description">
            I've read the
            <a href="" class="checkbox-link">privacy policy</a>
            and agree to the processing of my data as outlined.
          </span>
        </div>
        <div class="submit-button-container">
          <input class="submit-button" type="submit" value="Send message :)" />
        </div>
      </form>
    </div>
  </div>
</div>
<img
  class="contact-blue-background-left"
  src="/assets/img/contact-blue-background-left.png"
  alt="contact-blue-background-left"
/>
