.contact-container {
  z-index: 4;
  max-width: 1920px;
  width: 100%;
  margin-bottom: 350px;
}

.contact-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.contact-headline-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-line-left {
  position: absolute;
  left: 0;
  height: 4px;
  min-width: 44px;
  width: calc(((100vw - 1720px) / 2) - 50px);
  background-color: var(--darkBlue);
}

.contact-left-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
  padding-bottom: 260px;
  > div {
    > h2 {
      font-size: 90px;
      font-weight: 700;
    }
  }
  > h3 {
    font-size: 32px;
    font-weight: 700;
    padding-top: 85px;
    padding-bottom: 35px;
  }
  > p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 25px;
  }
}

.contact-right-container {
  width: 50%;
  max-width: 617px;
  margin-right: 50px;
  > form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
    padding-top: 300px;
    > input,
    textarea {
      background-color: initial;
      border: 1px solid var(--darkBlue);
      border-radius: 10px;
      outline: none;
      color: var(--white);
      font-size: 16px;
      font-weight: 400;
      font-family: "Poppins";
      width: 100%;
      cursor: pointer;
      &:hover {
        border: 1px solid var(--lightGreen);
      }
    }
  }
}

.contact-input-name-email {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.contact-input-message {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 202px;
  overflow-y: auto;
  overflow-x: hidden;
}

.contact-blue-background-left {
  position: absolute;
  left: 0;
  height: 500px;
  margin-top: 400px;
}

.checkbox-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  gap: 8px;
}

.checkbox-container input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.checkbox-container label {
  background: url(/assets/img/checkbox.png) no-repeat;
  height: 24px;
  width: 24px;
  background-size: cover;
  cursor: pointer;
  position: relative;
}

.checkbox-container input[type="checkbox"]:hover + label {
  background: url(/assets/img/checkbox-hover.png) no-repeat;
  background-size: cover;
}

.checkbox-container input[type="checkbox"]:checked + label {
  background: url(/assets/img/checkbox-checked.png) no-repeat;
  background-size: cover;
}

.checkbox-description {
  font-size: 14px;
  font-weight: 400;
}

.checkbox-text {
  width: 100%;
  margin-left: 16px;
}

.checkbox-link {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: var(--darkBlue);
  width: 100%;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.submit-button {
  font-size: 23px;
  font-weight: 400;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: var(--lightBlue);
  color: var(--white);
  cursor: pointer;
  &:hover {
    scale: 1.1;
  }
}

@media (max-width: 1500px) {
  .contact-left-container {
    padding-bottom: 220px;
    width: 45%;
  }

  .contact-right-container {
    width: 40%;
    > form {
      padding-top: 330px;
    }
  }

  .checkbox-container label {
    width: 30px;
  }
}

@media (max-width: 1300px) {
  .contact-right-container {
    > form {
      padding-top: 270px;
    }
  }

  .contact-left-container {
    > div {
      > h2 {
        font-size: 54px;
      }
    }
    > h3 {
      font-size: 23px;
    }
    > p {
      font-size: 16px;
    }
  }

  .checkbox-container label {
    width: 40px;
  }

  .checkbox-container {
    gap: 16px;
  }
}

.up-arrow-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1920px;
  > div {
    margin-top: 100px;
    margin-bottom: 0;
    margin-right: 100px;
    height: 39px;
    width: 39px;
    background-image: url(/assets/img/up-arrow.png);
    cursor: pointer;
    &:hover {
      background-image: url(/assets/img/up-arrow-blue.png);
    }
  }
}

@media (max-width: 1000px) {
  .contact-content-container {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 140px;
  }

  .contact-blue-background-left {
    position: absolute;
    left: 0;
    height: 360px;
    margin-top: 540px;
  }

  .contact-left-container {
    padding-bottom: 0;
    width: 100%;
  }

  .contact-right-container {
    width: 100%;
    max-width: calc(100vw - 150px);
    > form {
      padding-top: 0;
    }
  }

  .checkbox-container label {
    width: 24px;
  }

  .contact-left-container > h3 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .up-arrow-container {
    > div {
      margin-bottom: 100px;
      margin-right: 50px;
    }
  }
}

@media (max-width: 660px) {
  .checkbox-container label {
    width: 34px;
  }

  .contact-blue-background-left {
    height: 400px;
  }
}

@media (max-width: 520px) {
  .checkbox-container label {
    width: 49px;
  }
}

@media (max-width: 420px) {
  .checkbox-container label {
    width: 71px;
  }
}

@media (max-width: 350px) {
  .checkbox-container label {
    width: 100px;
  }
}
