<div
  data-aos="fade-left"
  data-aos-offset="250"
  data-aos-easing="ease-in-sine"
  class="contact-container"
>
  <div class="contact-content-container">
    <div class="contact-left-container">
      <div class="contact-headline-container">
        <div class="contact-line-left"></div>
        <h2>Contact</h2>
      </div>
      <h3>Got a problem to solve?</h3>
      <p>
        Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.
      </p>
      <p>Need a Frontend developer? Contact me!</p>
    </div>
    <div class="contact-right-container">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <input
          #name="ngModel"
          [(ngModel)]="contactData.name"
          [class.input-border-false]="
            !name.valid && name.touched && !name.disabled
          "
          [class.input-border-true]="name.valid && name.touched"
          class="contact-input-name-email"
          type="text"
          name="name"
          placeholder="Your name"
          required
        />
        @if (!name.valid && name.touched && !name.disabled) {
        <p class="text-empty-field">Your name is required</p>
        }
        <input
          #email="ngModel"
          [(ngModel)]="contactData.email"
          [class.input-border-false]="
            !email.valid && email.touched && !email.disabled
          "
          [class.input-border-true]="email.valid && email.touched"
          class="contact-input-name-email"
          type="email"
          name="email"
          placeholder="Your email"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          required
        />
        @if (!email.valid && email.touched && !email.disabled) {
        <p class="text-empty-field">Your email is required</p>
        }
        <textarea
          #message="ngModel"
          [(ngModel)]="contactData.message"
          class="contact-input-message"
          [class.input-border-false]="
            !message.valid && message.touched && !message.disabled
          "
          [class.input-border-true]="message.valid && message.touched"
          type="text"
          name="message"
          placeholder="Your message"
          minlength="4"
          required
        ></textarea>
        @if (!message.valid && message.touched && !message.disabled) {
        <p class="text-empty-field">Your message is empty</p>
        }
        <div class="checkbox-container">
          <input
            #checkbox="ngModel"
            [(ngModel)]="contactData.checkbox"
            (click)="privacyPolicyValidation()"
            type="checkbox"
            id="contact-checkbox"
            name="subscribe"
            required
          />
          <label for="contact-checkbox"></label>
          <div class="checkbox-description">
            <p>I've read the</p>
            <p (click)="loadPrivacyPolicy()" class="checkbox-link">
              privacy policy
            </p>
            <p>and agree to the processing of my data as outlined.</p>
          </div>
        </div>
        @if (!this.privacyPolicyChecked && name.valid && email.valid &&
        message.valid ) {
        <p class="text-empty-field">Please accept the privacy policy.</p>
        }
        <div class="submit-button-container">
          <p class="thank-you-text" [class.d-none]="!messageWasSent">
            THANKS FOR YOUR MESSAGE!
          </p>
          <input
            [class.d-none]="messageWasSent"
            [class.submit-button-activated]="
              name.valid &&
              email.valid &&
              message.valid &&
              this.privacyPolicyChecked
            "
            [disabled]="
              !name.valid &&
              !email.valid &&
              !message.valid &&
              !this.privacyPolicyChecked
            "
            class="submit-button"
            type="submit"
            value="Send message :)"
          />
        </div>
      </form>
    </div>
  </div>
  <div class="up-arrow-container">
    <div (click)="appdata.scrollToTop()"></div>
  </div>
</div>
<img
  class="contact-blue-background-left"
  src="/assets/img/contact-blue-background-left.png"
  alt="contact-blue-background-left"
/>
