<div
  data-aos="fade-left"
  data-aos-offset="250"
  data-aos-easing="ease-in-sine"
  class="contact-container"
>
  <div class="contact-content-container">
    <div class="contact-left-container">
      <div class="contact-headline-container">
        <div class="contact-line-left"></div>
        <h2>{{ "CONTACT.HEADLINE" | translate }}</h2>
      </div>
      <h3>{{ "CONTACT.SECOND-HEADLINE" | translate }}</h3>
      <p>
        {{ "CONTACT.FIRST-DESCRIPTION" | translate }}
      </p>
      <p>{{ "CONTACT.SECOND-DESCRIPTION" | translate }}</p>
    </div>
    <div class="contact-right-container">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <input
          #name="ngModel"
          [(ngModel)]="contactData.name"
          [class.input-border-false]="!name.valid && name.touched && !name.disabled"
          [class.input-border-true]="name.valid && name.touched"
          class="contact-input-name-email"
          type="text"
          name="name"
          [placeholder]="placeholdersName"
          required
        />
        @if (!name.valid && name.touched && !name.disabled) {
        <p class="text-empty-field">{{ "CONTACT.INPUT-NAME-FAULT-DESCRIPTION" | translate }}</p>
        }
        <input
          #email="ngModel"
          [(ngModel)]="contactData.email"
          [class.input-border-false]="
            !email.valid && email.touched && !email.disabled
          "
          [class.input-border-true]="email.valid && email.touched"
          class="contact-input-name-email"
          type="email"
          name="email"
          [placeholder]="placeholdersEmail"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          required
        />
        @if (!email.valid && email.touched && !email.disabled) {
        <p class="text-empty-field">{{ "CONTACT.INPUT-EMAIL-FAULT-DESCRIPTION" | translate }}</p>
        }
        <textarea
          #message="ngModel"
          [(ngModel)]="contactData.message"
          class="contact-input-message"
          [class.input-border-false]="
            !message.valid && message.touched && !message.disabled
          "
          [class.input-border-true]="message.valid && message.touched"
          type="text"
          name="message"
          [placeholder]="placeholdersMessage"
          minlength="4"
          required
        ></textarea>
        @if (!message.valid && message.touched && !message.disabled) {
        <p class="text-empty-field">{{ "CONTACT.INPUT-MESSAGE-FAULT-DESCRIPTION" | translate }}</p>
        }
        <div class="checkbox-container">
          <input
            #checkbox="ngModel"
            [(ngModel)]="contactData.checkbox"
            (click)="privacyPolicyValidation()"
            type="checkbox"
            id="contact-checkbox"
            name="subscribe"
            required
          />
          <label for="contact-checkbox"></label>
          <div class="checkbox-description">
            <p>{{ "CONTACT.PRIVACY-POLICY-DESCRIPTION-FIRST" | translate }}</p>
            <p (click)="loadPrivacyPolicy()" class="checkbox-link">
              {{ "CONTACT.PRIVACY-POLICY-DESCRIPTION-LINK" | translate }}
            </p>
            <p>{{ "CONTACT.PRIVACY-POLICY-DESCRIPTION-SECOND" | translate }}</p>
          </div>
        </div>
        @if (!this.privacyPolicyChecked && name.valid && email.valid &&
        message.valid ) {
        <p class="text-empty-field">{{ "CONTACT.PRIVACY-POLICY-FAULT-DESCRIPTION" | translate }}</p>
        }
        <div class="submit-button-container">
          <p class="thank-you-text" [class.d-none]="!messageWasSent">
            {{ "CONTACT.PRIVACY-POLICY-SENDE-MESSAGE" | translate }}
          </p>
          <input
            [class.d-none]="messageWasSent"
            [class.submit-button-activated]="
              name.valid &&
              email.valid &&
              message.valid &&
              this.privacyPolicyChecked
            "
            [disabled]="
              !name.valid &&
              !email.valid &&
              !message.valid &&
              !this.privacyPolicyChecked
            "
            class="submit-button"
            type="submit"
            [value]="sendeMessageButtonContent"
          />
        </div>
      </form>
    </div>
  </div>
  <div class="up-arrow-container">
    <div (click)="appdata.scrollToTop()"></div>
  </div>
</div>
<img
  class="contact-blue-background-left"
  src="/assets/img/contact-blue-background-left.png"
  alt="contact-blue-background-left"
/>
