<div
  data-aos="fade-right"
  data-aos-offset="250"
  data-aos-easing="ease-in-sine"
  class="about-me-container"
>
  <div class="abm-left-container">
    <h1>{{ "ABOUT.HEADLINE" | translate }}</h1>
    <span>
      {{ "ABOUT.FIRST-DESCRIPTION" | translate }}
    </span>
    <div class="subtext-container">
      <img src="/assets/img/bulb-desktop.png" alt="bulb" />
      <span>
        {{ "ABOUT.SECOND-DESCRIPTION" | translate }}
      </span>
    </div>
    <div class="subtext-container">
      <img src="/assets/img/puzzle-desktop.png" alt="puzzle" />
      <span>
        {{ "ABOUT.LAST-DESCRIPTION" | translate }}
      </span>
    </div>
  </div>
  <div class="abm-right-container">
    <img src="/assets/img/silvan2.png" alt="silvan2.png" />
    <div class="abm-line-right"></div>
  </div>
</div>
<img
  class="abm-blue-background-image"
  src="/assets/img/abm-blue-background.png"
  alt="abm-blue-background.png"
/>
<img
  class="abm-blue-background-big-image"
  src="/assets/img/abm-blue-background-big.png"
  alt="abm-blue-background.png"
/>
