.portfolio-headline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  > p {
    padding-top: 163px;
    font-size: 16px;
  }
}

.portfolio-headline {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  > h1 {
    font-size: 90px;
    font-weight: 700;
  }
}

.portfolio-headline-line-left {
  height: 4px;
  width: 109px;
  background-color: var(--darkBlue);
}

.portfolio-headline-line-right {
  height: 4px;
  width: calc(((100vw - 1920px) / 2) + 718px);
  background-color: var(--darkBlue);
}

.portfolio-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1920px;
  margin-left: 100px;
  margin-right: 100px;
  z-index: 2;
}

.portfolio-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 2;
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > img {
      height: 440px;
    }
    > div {
      width: 45%;
      > h2 {
        font-size: 32px;
        font-weight: 700;
        color: var(--darkBlue);
        padding-bottom: 15px;
      }
      > h3 {
        font-size: 23px;
        font-weight: 400;
        color: var(--lightBlue);
        padding-bottom: 15px;
      }
      > p {
        font-size: 16px;
        font-weight: 400;
      }
      > div {
        margin-top: 40px;
      }
    }
  }
}

.portfolio-livetest-button {
  font-size: 23px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  background-color: var(--darkBlue);
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: var(--lightBlue);
  }
}

.portfolio-github-button {
  font-size: 23px;
  font-weight: 400;
  margin-left: 86px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  color: var(--white);
  border: 1px solid var(--lightBlue);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: var(--lightBlue);
  }
}

.portfolio-image-right {
  margin-left: 140px;
}

.portfolio-image-left {
  margin-right: 140px;
}

.text-right-aligned {
  text-align: right;
}

.portfolio-background-left {
  position: absolute;
  left: 0;
  z-index: 0;
  margin-top: 600px;
}

.portfolio-background-right-small {
  position: absolute;
  right: 0;
  z-index: 0;
  margin-top: 2000px;
}

.portfolio-background-right-big {
  position: absolute;
  right: 0;
  z-index: 0;
  margin-top: 2000px;
}

@media (min-width: 2000px) {
  .portfolio-background-right-small {
    display: none;
  }
}

@media (max-width: 2000px) {
  .portfolio-background-right-big {
    display: none;
  }
}

@media (max-width: 1400px) {
  .portfolio-image-right {
    margin-left: 0;
  }

  .portfolio-image-left {
    margin-right: 0;
  }
}

@media (max-width: 1250px) {
  .portfolio-content {
    > div {
      > img {
        height: 330px;
      }
      > div {
        > h2 {
          font-size: 24px;
          padding-bottom: 10px;
        }
        > h3 {
          font-size: 16px;
          padding-bottom: 10px;
        }
        > p {
          font-size: 12px;
          font-weight: 400;
        }
        > div {
          margin-top: 40px;
        }
      }
    }
  }

  .portfolio-livetest-button {
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .portfolio-github-button {
    font-size: 20px;
    font-weight: 400;
    margin-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1000px) {
  .portfolio-headline {
    gap: 20px;
    > h1 {
      font-size: 45px;
      font-weight: 700;
    }
  }

  .portfolio-headline-line-left {
    width: 20px;
  }

  .portfolio-headline-line-right {
    width: calc(((100vw - 1920px) / 2) + 850px);
  }

  .portfolio-headline-container {
    > p {
      text-align: center;
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  .portfolio-content-container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .portfolio-content {
    > div {
      > img {
        height: 240px;
      }
      > div {
        width: 80%;
      }
    }
  }

  .portfolio-mobile-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 24px;
  }

  .portfolio-mobile-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 24px;
  }

  .text-left-aligned {
    text-align: center;
  }

  .text-right-aligned {
    text-align: center;
  }

  .portfolio-github-button {
    margin-left: 40px;
  }
}

@media (max-width: 500px) {
  .portfolio-content > div {
    > img {
      height: 160px;
    }
  }

  .portfolio-livetest-button {
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .portfolio-github-button {
    font-size: 12px;
    margin-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
