<div>
  <div class="portfolio-headline-container">
    <div class="portfolio-headline">
      <div class="portfolio-headline-line-left"></div>
      <h1>Portfolio</h1>
      <div class="portfolio-headline-line-right"></div>
    </div>
    <p>
      Explore a selection of my work here - Interact with projects to see my
      skills in action.
    </p>
  </div>
</div>
<div class="portfolio-content-container">
  <div
    class="portfolio-content"
    *ngFor="let portfolio of portfolios; let i = index"
  >
    @if (i % 2 == 0) {
    <div class="portfolio-mobile-left">
      <img class="portfolio-image-right" [src]="portfolio.image" />
      <div div class="text-left-aligned">
        <h2>{{ portfolio.title }}</h2>
        <h3>{{ portfolio.technologies }}</h3>
        <p>{{ portfolio.discription }}</p>
        <div>
          <a
            class="portfolio-livetest-button"
            [href]="portfolio.linkApp"
            target="_blank"
            >Live test</a
          >
          <a
            class="portfolio-github-button"
            [href]="portfolio.linkGitHub"
            target="_blank"
            >GitHub</a
          >
        </div>
      </div>
    </div>
    } @else {
    <div class="portfolio-mobile-right">
      <div class="text-right-aligned">
        <h2>{{ portfolio.title }}</h2>
        <h3>{{ portfolio.technologies }}</h3>
        <p>{{ portfolio.discription }}</p>
        <div>
          <a
            class="portfolio-livetest-button"
            [href]="portfolio.linkApp"
            target="_blank"
            >Live test</a
          >
          <a
            class="portfolio-github-button"
            [href]="portfolio.linkGitHub"
            target="_blank"
            >GitHub</a
          >
        </div>
      </div>
      <img class="portfolio-image-left" [src]="portfolio.image" />
    </div>
    }
  </div>
</div>
