.back-arrow-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  max-width: 1920px;
  top: 32px;
  width: 100%;
  > div {
    margin-top: 100px;
    margin-bottom: 24px;
    margin-right: 100px;
    height: 39px;
    width: 39px;
    background-image: url(/assets/img/up-arrow.png);
    transform: rotate(-90deg);
    cursor: pointer;
    &:hover {
      background-image: url(/assets/img/up-arrow-blue.png);
    }
  }
}

.privacypolicy-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 110px;
}

.privacypolicy-conten-container {
  padding-top: 20px;
  padding-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  max-width: 1720px;
}

@media (max-width: 1000px) {
  .privacypolicy-conten-container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .back-arrow-container {
    > div {
      margin-right: 50px;
    }
  }
}

@media (max-width: 600px) {
  .privacypolicy-conten-container {
    > h2 {
      font-size: 14px;
    }
    > h3 {
      font-size: 13px;
    }
    > h4 {
      font-size: 12px;
    }
    > p {
      font-size: 10px;
    }
    > ul {
      > li {
        font-size: 10px;
      }
    }
    > a {
      font-size: 10px;
    }
  }
}
