<app-mobile></app-mobile>
<app-header></app-header>
<div class="privacypolicy-container">
  <a href="#contact" class="back-arrow-container"><div></div></a>
  <div class="privacypolicy-conten-container">
    <br />
    <p>{{ "PRIVACY-POLICY.LAST-UPDATED" | translate }}</p>
    <br />
    <p>
      {{ "PRIVACY-POLICY.INTRO" | translate }}
    </p>
    <br />
    <h2>{{ "PRIVACY-POLICY.SERVICES-USED" | translate }}</h2>
    <p></p>
    <ul></ul>
    <p></p>
    <br />
    <h2>{{ "PRIVACY-POLICY.CONTACT-INFO" | translate }}</h2>
    <p>
      {{ "PRIVACY-POLICY.CONTACT-DESC" | translate }}
    </p>
    <br />
    <p>
      Silvan Stuber<br />Bernstrasse 46<br />3267 Seedorf<br />Schweiz<br /><br /><strong
        >Datenschutzverantwortliche Person:</strong
      ><br />Silvan Stuber<br />{{ appdata.email }}<br />
    </p>
    <br />
    <h2>{{ "PRIVACY-POLICY.GENERAL-PRINCIPLES" | translate }}</h2>
    <h3>
      {{ "PRIVACY-POLICY.DATA-COLLECTION-TITLE" | translate }}
    </h3>
    <p>
      {{ "PRIVACY-POLICY.DATA-COLLECTION-DESC" | translate }}
    </p>
    <ul>
      <li>{{ "PRIVACY-POLICY.DATA-CATEGORIES.PERSONAL-DATA" | translate }}</li>
      <li>{{ "PRIVACY-POLICY.DATA-CATEGORIES.CONTACT-DATA" | translate }}</li>
      <li>{{ "PRIVACY-POLICY.DATA-CATEGORIES.FINANCIAL-DATA" | translate }}</li>
      <li>
        {{ "PRIVACY-POLICY.DATA-CATEGORIES.ONLINE-IDENTIFIERS" | translate }}
      </li>
      <li>
        {{ "PRIVACY-POLICY.DATA-CATEGORIES.LOCATION-TRAFFIC-DATA" | translate }}
      </li>
      <li>
        {{ "PRIVACY-POLICY.DATA-CATEGORIES.AUDIO-VISUAL-DATA" | translate }}
      </li>
      <li>
        {{ "PRIVACY-POLICY.DATA-CATEGORIES.SENSITIVE-DATA" | translate }}
      </li>
    </ul>
    <br />
    <h3>{{ "PRIVACY-POLICY.TITLE_3_2" | translate }}</h3>
    <p>
      {{ "PRIVACY-POLICY.TEXT_3_2" | translate }}
    </p>
    <ul>
      <li>{{ "PRIVACY-POLICY.CONSENT" | translate }}</li>
      <li>
        {{ "PRIVACY-POLICY.CONTRACT" | translate }}
      </li>
      <li>
        {{ "PRIVACY-POLICY.LEGITIMATE_INTERESTS" | translate }}
      </li>
    </ul>
    <br />
    <h3>{{ "PRIVACY-POLICY.TITLE_3_3" | translate }}</h3>
    <p>
      {{ "PRIVACY-POLICY.TEXT_3_3" | translate }}
    </p>
    <br />
    <h3>{{ "PRIVACY-POLICY.TITLE_3_4" | translate }}</h3>
    <br />
    <h4>{{ "PRIVACY-POLICY.PRINCIPLE" | translate }}</h4>
    <p>
      {{ "PRIVACY-POLICY.TEXT_3_4_A" | translate }}
    </p>
    <ul>
      <li>{{ "PRIVACY-POLICY.ACCOUNTING" | translate }}</li>
      <li>{{ "PRIVACY-POLICY.CONSULTING" | translate }}</li>
      <li>
        {{ "PRIVACY-POLICY.IT_SERVICES" | translate }}
      </li>
      <li>{{ "PRIVACY-POLICY.PAYMENT_SERVICES" | translate }}</li>
      <li>{{ "PRIVACY-POLICY.AD_SERVICES" | translate }}</li>
    </ul>
    <br />
    <p>
      {{ "PRIVACY-POLICY.TEXT_3_4_B" | translate }}
    </p>
    <br />
    <h4>{{ "PRIVACY-POLICY.SOCIAL_MEDIA_VISIT" | translate }}</h4>
    <p>
      {{ "PRIVACY-POLICY.TEXT_3_4_B_SOCIAL_MEDIA" | translate }}
    </p>
    <br />
    <h4>{{ "PRIVACY-POLICY.INTERNATIONAL_TRANSFER" | translate }}</h4>
    <p>
      {{ "PRIVACY-POLICY.TEXT_3_4_C" | translate }}
    </p>
    <br />
    <h3>{{ "PRIVACY-POLICY.TITLE_3_5" | translate }}</h3>
    <p>
      {{ "PRIVACY-POLICY.PARAGRAPH_1_3_5" | translate }}
    </p>
    <br />
    <h3>{{ "PRIVACY-POLICY.TITLE_3_6" | translate }}</h3>
    <p>
      {{ "PRIVACY-POLICY.PARAGRAPH_1_3_6" | translate }}
    </p>
    <br />
    <h3>{{ "PRIVACY-POLICY.TITLE_3_7" | translate }}</h3>
    <br />
    <h4>{{ "PRIVACY-POLICY.SUBTITLE_A" | translate }}</h4>
    <p>
      {{ "PRIVACY-POLICY.PARAGRAPH_1_A" | translate }}
    </p>
    <ul>
      <li>
        {{ "PRIVACY-POLICY.LIST_ITEM_1_A" | translate }}
      </li>
      <li>
        {{ "PRIVACY-POLICY.LIST_ITEM_2_A" | translate }}
      </li>
    </ul>
    <p>
      {{ "PRIVACY-POLICY.PARAGRAPH_2_A" | translate }}
    </p>
    <br />
    <h4>{{ "PRIVACY-POLICY.SUBTITLE_B" | translate }}</h4>
    <br />
    <p>
      {{ "PRIVACY-POLICY.PARAGRAPH_1_B" | translate }}
    </p>
    <br />
    <h4>{{ "PRIVACY-POLICY.C-COURT-PROCEEDINGS.TITLE" | translate }}</h4>
    <p>
      {{ "PRIVACY-POLICY.C-COURT-PROCEEDINGS.CONTENT" | translate }}
    </p>
    <br />
    <h3>{{ "PRIVACY-POLICY.CHANGES-TO-PRIVACY-POLICY.TITLE" | translate }}</h3>
    <p>
      {{ "PRIVACY-POLICY.CHANGES-TO-PRIVACY-POLICY.CONTENT" | translate }}
    </p>
    <br />
    <h2>
      {{
        "PRIVACY-POLICY.INDIVIDUAL-DATA-PROCESSING-OPERATIONS.TITLE" | translate
      }}
    </h2>
    <br />
    <h3>
      {{ "PRIVACY-POLICY.PROVIDING-WEBSITE-AND-LOGFILES.TITLE" | translate }}
    </h3>
    <br />
    <h4>
      {{
        "PRIVACY-POLICY.PROVIDING-WEBSITE-AND-LOGFILES.INFORMATION-TITLE"
          | translate
      }}
    </h4>
    <p>
      {{
        "PRIVACY-POLICY.PROVIDING-WEBSITE-AND-LOGFILES.INFORMATION-CONTENT"
          | translate
      }}
    </p>
    <ul>
      <li>
        {{
          "PRIVACY-POLICY.PROVIDING-WEBSITE-AND-LOGFILES.INFORMATION-LIST.ITEM1"
            | translate
        }}
      </li>
      <li>
        {{
          "PRIVACY-POLICY.PROVIDING-WEBSITE-AND-LOGFILES.INFORMATION-LIST.ITEM2"
            | translate
        }}
      </li>
      <li>
        {{
          "PRIVACY-POLICY.PROVIDING-WEBSITE-AND-LOGFILES.INFORMATION-LIST.ITEM3"
            | translate
        }}
      </li>
      <li>
        {{
          "PRIVACY-POLICY.PROVIDING-WEBSITE-AND-LOGFILES.INFORMATION-LIST.ITEM4"
            | translate
        }}
      </li>
      <li>
        {{
          "PRIVACY-POLICY.PROVIDING-WEBSITE-AND-LOGFILES.INFORMATION-LIST.ITEM5"
            | translate
        }}
      </li>
      <li>
        {{
          "PRIVACY-POLICY.PROVIDING-WEBSITE-AND-LOGFILES.INFORMATION-LIST.ITEM6"
            | translate
        }}
      </li>
      <li>
        {{
          "PRIVACY-POLICY.PROVIDING-WEBSITE-AND-LOGFILES.INFORMATION-LIST.ITEM7"
            | translate
        }}
      </li>
    </ul>
    <br />
    <h4>
      <li>
        {{
          "PRIVACY-POLICY.PROVIDING-WEBSITE-AND-LOGFILES.WHY-PROCESS-DATA-TITLE"
            | translate
        }}
      </li>
    </h4>
    <p>
      {{
        "PRIVACY-POLICY.PROVIDING-WEBSITE-AND-LOGFILES.WHY-PROCESS-DATA-CONTENT"
          | translate
      }}
    </p>
    <br />
    <h4>
      {{
        "PRIVACY-POLICY.PROVIDING-WEBSITE-AND-LOGFILES.PREVENT-DATA-COLLECTION-TITLE"
          | translate
      }}
    </h4>
    <p>
      {{
        "PRIVACY-POLICY.PROVIDING-WEBSITE-AND-LOGFILES.PREVENT-DATA-COLLECTION-CONTENT"
          | translate
      }}
    </p>
    <br />
    <br /><br />
    <h3>
      {{
        "PRIVACY-POLICY.PROVIDING-WEBSITE-AND-LOGFILES.BRAINBOX-GENERATORS.TITLE"
          | translate
      }}
    </h3>
    {{
      "PRIVACY-POLICY.PROVIDING-WEBSITE-AND-LOGFILES.BRAINBOX-GENERATORS.CONTENT"
        | translate
    }}
    <a
      style="color: inherit"
      href="https://brainbox.swiss/"
      rel="nofollow"
      target="_blank"
      >BrainBox Solutions GmbH,</a
    >
    {{
      "PRIVACY-POLICY.PROVIDING-WEBSITE-AND-LOGFILES.BRAINBOX-GENERATORS.CONTENT-2"
        | translate
    }}
  </div>
</div>
<app-footer></app-footer>
