.back-arrow-container {
  position: absolute;
  top: 0;
  right: 80px;
  transform: rotate(-90deg);
  > div {
    margin-top: 100px;
    margin-bottom: 24px;
    margin-right: 100px;
    height: 39px;
    width: 39px;
    background-image: url(/assets/img/up-arrow.png);
    cursor: pointer;
    &:hover {
      background-image: url(/assets/img/up-arrow-blue.png);
    }
  }
}

.privacypolicy-container {
  margin-left: 100px;
  margin-right: 100px;
  max-width: 1920px;
  padding-top: 20px;
  padding-bottom: 50px;
}

@media (max-width: 1000px) {
  .privacypolicy-container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .back-arrow-container {
    right: 40px;
  }
}

@media (max-width: 600px) {
  .privacypolicy-container {
    > h2 {
      font-size: 14px;
    }
    > h3 {
      font-size: 13px;
    }
    > h4 {
      font-size: 12px;
    }
    > p {
      font-size: 10px;
    }
    > ul {
      > li {
        font-size: 10px;
      }
    }
    > a {
      font-size: 10px;
    }
  }
}
