.back-arrow-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 32px;
  width: 100%;
  max-width: 1920px;
  > div {
    margin-top: 100px;
    margin-bottom: 24px;
    margin-right: 100px;
    height: 39px;
    width: 39px;
    background-image: url(/assets/img/up-arrow.png);
    transform: rotate(-90deg);
    cursor: pointer;
    &:hover {
      background-image: url(/assets/img/up-arrow-blue.png);
    }
  }
}

.impressum-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.impressum-content-container {
  height: calc(100vh - 410px);
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 44px;
  > a {
    text-decoration: none;
    cursor: pointer;
    color: var(--white);
    &:hover {
      color: var(--lightBlue);
    }
  }
}

@media (max-height: 900px) {
  .impressum-content-container {
    padding-top: 140px;
    padding-bottom: 100px;
  }
}

@media (max-width: 1000px) {
  .impressum-content-container {
    height: calc(100vh - 510px);
  }

  .impressum-content-container {
    > div {
      margin-right: 50px;
    }
  }

  .back-arrow-container {
    > div {
      margin-right: 50px;
    }
  }
}
