.skills-container {
  padding-bottom: 80px;
  padding-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  max-width: 1720px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 6;
}

.skill-icon-container {
  display: flex;
  flex-wrap: wrap;
  gap: 124px;
  width: 50%;
}

.skill-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100px;
  width: 88px;
  > img {
    height: 60px;
    width: 60px;
    transition: transform 225 ease-in-out;
    &:hover {
      transform: translateY(-10px);
    }
  }
}

.skill-description-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
  width: 30%;
  gap: 34px;
  > h1 {
    font-size: 90px;
    font-weight: 700;
    z-index: 900;
  }
  > p {
    font-size: 16px;
    font-weight: 400;
  }
}

.skill-button {
  font-size: 24px;
  background-color: var(--lightBlue);
  text-decoration: none;
  color: var(--white);
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 24px;
  margin-right: 100px;
  cursor: pointer;
  z-index: 4;
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1),
    background-color 0.5s ease, color 0.5s ease;
  &:hover {
    background-color: var(--darkBlue);
    scale: 1.05;
  }
}

.skill-line-right {
  position: absolute;
  margin-top: -200px;
  right: 0;
  height: 4px;
  min-width: 52px;
  width: calc(((100vw - 1720px) / 2) - 48px);
  background-color: var(--darkBlue);
  z-index: 1;
}

.skill-blue-background-big-image {
  position: absolute;
  left: 0;
  margin-top: 600px;
  z-index: 1;
}

.skill-blue-background-image {
  position: absolute;
  left: 0;
  margin-top: 600px;
  z-index: 1;
}

@media (min-width: 2000px) {
  .skill-blue-background-image {
    display: none;
  }
}

@media (max-width: 2000px) {
  .skill-blue-background-big-image {
    display: none;
  }
}

@media (max-width: 1700px) {
  .skill-icon-container {
    gap: 80px;
    width: 48%;
  }

  .skill-description-container {
    width: 32%;
    gap: 34px;
    > h1 {
      font-size: 54px;
      font-weight: 700;
    }
    > p {
      font-size: 16px;
      font-weight: 400;
    }
  }
}

@media (max-width: 1500px) {
  .skill-icon-container {
    gap: 60px;
    width: 50%;
  }
}

@media (max-width: 1350px) {
  .skill-icon-container {
    width: 48% !important;
    gap: 60px !important;
  }

  .skill-description-container {
    width: 48%;
    gap: 34px;
  }
}

@media (max-width: 1200px) {
  .skills-container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    padding-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    gap: 60px;
  }

  .skill-icon-container {
    display: flex;
    justify-content: center;
    width: 100% !important;
    gap: 120px !important;
  }

  .skill-description-container {
    display: flex;
    width: 100%;
    gap: 34px;
  }

  .skill-line-right {
    margin-top: -60px !important;
    min-width: 80px;
    width: calc((100vw - 1720px) / 2) !important;
  }

  .skill-button {
    display: none;
  }
}

@media (max-width: 1000px) {
  .skills-container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .skill-line-right {
    min-width: 40px;
  }
}

@media (max-width: 900px) {
  .skill-line-right {
    margin-top: -80px !important;
  }

  .skills-container {
    padding-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .skill-icon-container {
    gap: 60px !important;
  }
  .skill-description-container {
    gap: 20px;
    > h1 {
      font-size: 40px;
      font-weight: 700;
    }
    > p {
      font-size: 12px;
      font-weight: 400;
    }
  }

  .skill-line-right {
    margin-top: -54px !important;
  }
}

@media (max-width: 402px) {
  .skill-line-right {
    margin-top: -72px !important;
  }

  .skill-icon-container {
    gap: 40px !important;
  }
}

@media (max-width: 328px) {
  .skill-line-right {
    margin-top: -90px !important;
  }
}
