<div class="skills-container">
  <div class="skill-icon-container">
    <div class="skill-icon" *ngFor="let skill of appdata.skills">
      <img [src]="skill.image" />
      <p>{{ skill.description }}</p>
    </div>
  </div>
  <div class="skill-description-container">
    <h1>My skills</h1>
    <div class="skill-line-right"></div>
    <p>
      I have grown my frontend developments skills that have allowed me to
      create different real projects.
    </p>
    <a href="#contact" class="skill-button">Get in touch</a>
  </div>
</div>
<img
  class="skill-blue-background-image"
  src="/assets/img/skill-blue-background.png"
  alt="skill-blue-background.png"
/>
<img
  class="skill-blue-background-big-image"
  src="/assets/img/skill-blue-background-big.png"
  alt="skill-blue-background.png"
/>
