<div
  class="mobile-menu-container"
  [class.positionMenuClose]="!appdata.menuIsOpen"
  [class.positionMenuOpen]="appdata.menuIsOpen"
>
  <div class="mobile-menu-content">
    <img
      (click)="appdata.loadATF(); appdata.resetMenuVariables(); closeMenu()"
      class="logo-header-mobile"
      src="/assets/img/logo.png"
      alt="logo"
    />
    <div
      class="menu-open-icon"
      [class.menu-translate-icon]="appdata.menuIsOpen"
      (click)="closeMenu()"
    ></div>
    <a
      *ngFor="let menuContent of appdata.menuContents"
      (click)="closeMenu(); appdata.changeStyleBottomLine(menuContent.title)"
      [class.border-bottom-line]="appdata.classActive(menuContent.title)"
      [href]="menuContent.linkComponent"
    >
      {{ "MENU." + menuContent.title | translate }}
    </a>
    <img
      (click)="appdata.switchLanguage(); appdata.switchImage()"
      class="image-switch-language-mobile"
      [src]="appdata.currentImageHeader"
      alt=""
    />
  </div>
</div>
