.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1099;
  height: 100vh;
  width: 100vw;
}

.positionMenuOpen {
  transform: translateX(0);
  transition: all 425ms ease-in-out;
}

.positionMenuClose {
  transform: translateX(10000px);
  transition: all 425ms ease-in-out;
}

.menu-open-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 31px;
  margin-right: 40px;
  height: 48px;
  width: 48px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-translate-icon {
  animation: 1.5s scrollToCross ease-in-out;
  background-image: url(/assets/img/cross-finished.png);
}

@keyframes scrollToCross {
  0% {
    background-image: url(/assets/img/to-cross.png);
    opacity: 0.5;
  }

  40% {
    background-image: url(/assets/img/cross-progress.png);
  }

  70% {
    background-image: url(/assets/img/cross-finished.png);
  }

  100% {
    background-image: url(/assets/img/cross-finished.png);
  }
}

.mobile-menu-content {
  background-color: var(--backgroundColorMobileMenu);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 29px;
  height: 100%;
  > a {
    color: var(--white);
    text-decoration: none;
    size: 23px;
    width: 400;
    &:hover {
      color: var(--lightBlue);
    }
  }
}

.image-switch-language-mobile {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  border: 1px solid black;
  cursor: pointer;
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  &:hover {
    scale: 1.05;
    box-shadow: inset;
  }
}

@media (max-width: 500px) {
  .menu-open-icon {
    margin-right: 25px;
  }
}
