<footer>
  <div class="footer-content-container">
    <div class="footer-logo-container">
      <img src="/assets/img/logo.png" alt="logo" />
      <p
        (click)="appdata.goToContent('/impressum')"
        class="footer-impressum-desktop impressum-border-bottom-line"
        href=""
      >
        Impressum
      </p>
    </div>
    <div>
      <p>© Silvan Stuber 2024</p>
    </div>
    <div class="footer-icon-container">
      <a href="https://github.com/SilvanStuber" target="_blank"
        ><img src="/assets/img/github.png" alt="GitHub Icon"
      /></a>
      <a href="#contact"><img src="/assets/img/e-mail.png" alt="E-Mail Icon" /></a>
      <a
        href="https://www.linkedin.com/in/silvan-stuber-97262a127?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
        target="_blank"
        ><img src="/assets/img/linkedIn.png" alt="LinkedIn Icon"
      /></a>
    </div>
    <p
      (click)="appdata.goToContent('/impressum')"
      class="footer-impressum-mobile impressum-border-bottom-line"
      href=""
    >
      Impressum
    </p>
  </div>
</footer>
