<div class="atf-container">
    <div>
  <img
    class="backgound-image"
    src="/assets/img/group 2.png"
    alt="Profile image 1"
  />
  <img
    class="atf-profile-image"
    src="/assets/img/silvan1.png"
    alt="Profile image 1"
  />
</div> 
<div class="atf-i-am-countainer">
    <p class="atf-i-am-text">I am</p>
    <div class="atf-description-container">
        <p class="atf-name-text">Silvan Stuber</p>
        <p class="atf-description-text">FRONTEND DEVELOPER</p>
    </div>
</div>
  <img class="vector-image" src="/assets/img/vector.png" alt="vector" />
</div>


