.atf-container {
  height: calc(100vh - 110px);
  width: calc(100vw - 18px);
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
}

.backgound-image {
  position: absolute;
  top: 160px;
}

.atf-profile-image {
  position: absolute;
  top: 160px;
  padding-left: 180px;
  height: 705px;
  z-index: 2;
}

.atf-i-am-countainer {
  margin-top: 200px;
  padding-right: 100px;
}

.atf-description-container {
 z-index: 2;
}

.atf-i-am-text {
  display: flex;
  position: absolute;
  top: 370px;
  color: var(--white);
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: 64px;
  font-weight: 400;
  margin-left: -120px;
}

.atf-name-text {
  color: var(--white);
  font-size: 96px;
  font-weight: 700;
}

.atf-description-text {
  color: var(--darkBlue);
  font-size: 62px;
  font-weight: 400;
  margin-top: -40px;
}

.atf-button {
  position: absolute;
  margin-top: 24px;
  margin-left: 240px;
  padding-right: 100px;
  font-size: 24px;
  background-color: var(--lightBlue);
  text-decoration: none;
  color: var(--white);
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  z-index: 4;
  &:hover {
    background-color: var(--darkBlue);
    scale: 1.1;
  }
}

.vector-image {
  position: absolute;
  top: 500px;
  left: 0;
  width: 100vw !important;
  z-index: 3;
}
