.atf-container {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
}

.background-image {
  position: absolute;
  top: 160px;
}

.atf-profile-image {
  position: absolute;
  top: 140px;
  padding-left: 180px;
  height: 705px;
  z-index: 2;
}

.atf-i-am-countainer {
  margin-top: 200px;
  margin-right: 100px;
  z-index: 4;
}

.atf-description-container {
  z-index: 4;
}

.atf-i-am-text {
  display: flex;
  position: absolute;
  top: 370px;
  color: var(--white);
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: 64px;
  font-weight: 400;
  margin-left: -120px;
}

.atf-name-text {
  color: var(--white);
  font-size: 96px;
  font-weight: 700;
}

.atf-description-text {
  color: var(--darkBlue);
  font-size: 62px;
  font-weight: 400;
  margin-top: -40px;
}

.atf-button {
  position: absolute;
  margin-top: 24px;
  margin-left: 240px;
  padding-right: 100px;
  font-size: 24px;
  background-color: var(--lightBlue);
  text-decoration: none;
  color: var(--white);
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  z-index: 4;
  &:hover {
    background-color: var(--darkBlue);
    scale: 1.1;
  }
}

.atf-bottom-container {
  position: absolute;
  top: 500px;
  left: 0;
  width: 100vw !important;
  z-index: 3;
}

.atf-bottom-image {
  width: 100%;
}

.atf-icon-container {
  position: absolute;
  top: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.atf-icon-distance-line {
  position: absolute;
  left: 0;
  height: 4px;
  min-width: 100px;
  width: calc((100vw - 1720px) / 2);
  background-color: var(--darkBlue);
}

.atf-icon-scroll-section {
  display: flex;
  justify-content: space-between;
  max-width: 1720px !important;
  width: 100%;
  margin-left: 130px;
}

.atf-icon-section {
  display: flex;
  align-items: center;
  gap: 24px;
}

.atf-icon {
  margin-top: 4px;
  height: 30px;
  cursor: pointer;
  &:hover {
    scale: 1.25;
  }
}

.atf-link {
  text-decoration: none;
  color: var(--white);
  font-size: 23px;
}

.scroll-down-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  transform: rotate(+90deg);
  white-space: nowrap;
  font-size: 23px;
  gap: 8px;
  margin-top: -140px;
}

.scroll-down-image {
  height: 16px;
  width: 16px;
  transform: rotate(-90deg);
  white-space: nowrap;
}

@media (min-width: 2000px) {
  .atf-bottom-container {
    top: 850px;
  }

  .background-image {
    height: 1000px;
  }

  .atf-profile-image {
    height: 1000px;
  }

  .atf-i-am-countainer {
    margin-top: 350px;
  }

  .atf-i-am-text {
    top: 520px;
  }
}

@media (max-width: 1900px) {
  .atf-profile-image {
    height: 600px;
  }
}

@media (max-width: 1500px) {
  .atf-bottom-container {
    top: 460px;
  }

  .background-image {
    height: 500px;
  }

  .atf-profile-image {
    height: 500px;
    padding-left: 100px;
  }

  .atf-i-am-text {
    top: 340px;
    font-size: 32px;
    margin-left: -60px;
  }

  .atf-name-text {
    font-size: 48px;
  }

  .atf-description-text {
    font-size: 31px;
    margin-top: -20px;
  }

  .atf-button {
    position: absolute;
    margin-left: 80px;
  }
}

@media (max-width: 1000px) {
  .atf-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .atf-container-mobile {
    width: 100vw !important;
    display: flex;
    justify-content: center;
  }

  .atf-profile-image {
    height: 400px;
    padding-left: 0;
  }

  .background-image {
    height: 400px;
    display: flex;
  }

  .atf-profile-image {
    height: 400px;
    padding-left: 0;
  }

  .atf-i-am-countainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 300px;
    margin-right: 0;
  }

  .atf-i-am-text {
    top: 640px;
    margin-left: -380px;
  }

  .atf-bottom-container {
    top: 420px;
  }

  .scroll-down-container {
    display: none;
  }

  .atf-link {
    display: none;
  }

  .atf-icon-container {
    top: 440px;
  }
}

@media (max-width: 800px) {
  .atf-i-am-countainer {
    margin-top: 200px;
  }

  .atf-i-am-text {
    top: 590px;
  }

  .atf-icon-container {
    top: 400px;
  }
}

@media (max-width: 600px) {
  .atf-profile-image {
    height: 250px;
    padding-left: 0;
  }

  .background-image {
    height: 250px;
  }

  .atf-i-am-text {
    top: 438px;
    margin-left: -280px;
    font-size: 20px;
  }

  .atf-icon-container {
    top: 340px;
  }

  .atf-name-text {
    font-size: 36px;
  }

  .atf-description-text {
    font-size: 23px;
    margin-top: -20px;
  }

  .atf-bottom-container {
    top: 290px;
  }

  .atf-button {
    margin-left: 30px;
  }

  .atf-i-am-countainer {
    margin-top: -120px;
    padding-left: 12px;
  }
}

@media (max-width: 400px) {
  .atf-bottom-container {
    top: 320px;
  }
}
